* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* variables */

:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #717171;
    --color-light-grey: #c1c1c1;
    --color-highlight: #adff2f;
}

                    /* body */

/* flex */

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
    align-content: center;
}



/* call to action bar */

#call-to-action {
    width: calc(100% - 250px);
    background-color: #00000050;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
}

/* main */

main {
    width: 100%;
    height: calc(100% - 90px);
}

#side-bar {
    width: 250px;
    background-color: var(--color-black);
    color: var(--color-light-grey);
}

#card-container {
    width: calc(100% - 250px);
    background-color: var(--color-dark-color);
    padding-top: 70px;
    overflow-y: auto ;
}

/* side bar content */

#logo {
    width: 80%;
    padding: 20px;
}

.nav-button {
    width: 30px;
}



/* play bar */

#play-bar {
    width: 100%;
    height: 90px;
    background-color: var(--color-grey);
}
