* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* variables */

:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #717171;
    --color-light-grey: #c1c1c1;
    --color-highlight: #adff2f;
}

                    /* body */

/* main */

#side-bar {
    width: 250px;
    background-color: var(--color-black);
}

#card-container {
    width: 100%;
    background-color: var(--color-dark-color);
}

/* play bar */

#play-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    background-color: var(--color-grey);
}
